@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: hsl(204, 43%, 93%);
    height:  100vh;
    display: flex;
    justify-content: center;
}

.guarantee-container h2{
    color: hsl(179, 62%, 43%);
    margin-bottom: 15px;
}

#money-back{
    color: hsl(71, 73%, 54%); 
    margin-bottom: 15px;   
}

#full-access{
    color: white;
    margin-bottom: 10px;
    margin: 10px 0px 20px;
}

#developers-access{
    color: rgb(125, 125,125)
   
}
#per-month{
    color: rgb(200, 200,200)
   
}

button{
    padding: 10px;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: hsl(71, 73%, 54%);  
    display: block;
    margin-top: 10px;
    border:none;
    border-radius: 0.3rem;
}

span{
    color: #fff;
    font-size: 40px;
}

/*Contenedor grande*/


.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 610px;
    
    
}

/*Contenedor de Arriba*/

.guarantee-container{
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 40px;
}

/*Contenedor de abajo y sus hijos*/

.bottom-content{
    display: flex;
    flex-direction: row;
}

.left-content{
    background-color:hsl(179, 62%, 43%) ;
    border-bottom-left-radius: 1rem;
    padding: 40px;
    max-width: 50%;
}

.left-content h2{
    color: white;
    font-size: 400;
    width: 50%;
    margin-bottom: 10px;
}



.right-content{
    background-color: hsl(179, 62%, 47%);
    border-bottom-right-radius: 1rem;
    padding: 40px;
    max-width: 50%;
}

.right-content h2{
    color: white;
    font-size: 700;
    margin-bottom: 15px;
}

.right-content p{
    color:hsl(204, 43%, 93%);
    font-size: 400;
    width: 85%;
    line-height: 1.5;
}

@media screen and (max-width: 375px){
    .card{
     flex-grow: 1;
    }
    
    .container{
        flex-direction: column;
        margin: 50px 30px;
        padding: 20px 0px;
        max-height: 100%;
        max-width: 100%;
        
    }


    .bottom-content{
        
        flex-direction: column;
    }

    .left-content{
        max-width: 100%;
        border-bottom-left-radius: 0;
    }
    .right-content{
        max-width: 100%;
        border-bottom-left-radius: 1rem;

    }
    
}

/* flex-grow*/
/*left y right tienen que ajustarse al .container (falla el intento)
/*no debe forzarse el tamaño de .container*/
/*body al 100vh y flex*/